{
  "$schema": "https://json.schemastore.org/prettierrc",
	"arrowParens": "always",
	"bracketSameLine": false,
	"bracketSpacing": false,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "strict",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"printWidth": 160,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": false,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "es5",
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"endOfLine": "lf"
}
